@use '../../styles/abstract/mixines';

.products {
  @include mixines.flex-container(stretch, center, row, 40px, wrap);
  column-gap: 16px;

  @include mixines.tablet {
    justify-content: flex-start;
  }
  padding-top: 40px;
  padding-bottom: 80px;
}
