@use '../../styles/abstract/mixines';
@use '@/styles/abstract/constants';

.items {
  color: var(--text-color);
  padding-bottom: 32px;
  font-weight: 600;

  @include mixines.tablet {
    padding-bottom: 40px;
  }
}

.breadcrumb {
  max-width: 1200px;
  display: flex;
  margin: auto;
  column-gap: 8px;
  padding: 24px 32px;
  color: var(--text-color);
}
