@use '@/styles/abstract/mixines';
@use '@/styles/abstract/constants';

.sectionTitle,
.list {
  margin-bottom: 32px;
}

.list {
  @include mixines.desctop {
    grid-column: 1/17;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wrapper {
  @include mixines.desctop {
    @include mixines.page-grid;
  }
}
