@use '../../styles/abstract/constants';

.iconButton {
  width: 40px;
  border: 1px solid var(--border-icon-color);
  cursor: pointer;

  &.selected {
    background-color: var(--element-color);
  }

  &:hover {
    border-color: var(--main-color);
  }
}
