@use '../../styles/abstract/constants';

.iconButton {
  width: 32px;
  height: 32px;

  > svg {
    color: var(--main-color);
  }

  &.selected {
    background-color: var(--element-color);
  }

  &:hover {
    border-color: var(--main-color);
  }
}

.border {
  border: 1px solid var(--border-icon-color);
}
