@use '../../styles/abstract/constants';

.iconButton {
  border: 1px solid var(--border-icon-color);
  padding: 8px;

  > svg {
    color: var(--main-color);
  }

  &.selected {
    background-color: var(--element-color);
  }

  &:hover {
    border-color: var(--main-color);
  }
}
