@use '../../styles/abstract/mixines';
@use '../../styles/abstract/constants';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding-inline: 10px;
  background-color: var(--modal-backdrop-color);
  z-index: 999;
  overflow-y: auto;

  @include mixines.flex-container(center, center);
}

.modal {
  padding: 20px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  box-shadow:
    0 -7px 7px -3px var(--modal-border-color),
    0 7px 7px -3px var(--modal-border-color),
    0 10px 14px 1px var(--modal-border-color),
    0 5px 18px 3px var(--modal-border-color);
}
