@use '../../styles/abstract/mixines';

@use './styles/recommended';

.product-card {
  margin-inline: 16px;
  max-width: 1200px;

  @include mixines.page-grid;

  @include mixines.tablet {
    margin-inline: 24px;
  }

  @include mixines.desctop {
    margin-inline: 32px;
  }

  @media (min-width: 1264px) {
    margin-inline: auto;
  }
}

.breadCrumbs {
  grid-column: 1/-1;
}

.back {
  @include mixines.flex-container(center, start, row, 4px);
  margin-bottom: 16px;
  font-weight: 700;
  color: var(--text-color);

  &:hover {
    color: var(--main-color);
  }
}

.mainTitle {
  margin-bottom: 32px;
  grid-column: 1/-1;
}
