@use '../../styles/abstract/constants';
@use '../../styles/abstract/mixines' as mixin;

.auth {
  width: 300px;
  margin: 50px auto;
  padding-block: 20px;
  @include mixin.border(2px, var(--main-color));
}

.nav {
  margin-bottom: 32px;

  @include mixin.flex-container(center, space-around);
}

.link {
  border: 2px solid var(--element-color);
  color: var(--text-color);
  padding: 5px 10px;

  &:hover {
    color: var(--main-color);
    border-color: var(--main-color);
    font-weight: 700;
  }
}

.active {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border-color: var(--main-color);
  font-weight: 700;
}
