$color-white: #fff;
$color-green: #27ae60;
$color-purple: #905bff;
$color-red: #eb5757;
$color-gray: #b4bdc3;
$main-text-color: #313237;
$text-color: #89939a;
$border-color: #e2e6e9;
$dark_main-text-color: #f1f2f9;
$dark_primary-color: #0f1121;
$dark_card-bg-color: #161827;
$dark_icon-bg-color: #3b3e4a;
$dark_text-color: #75767f;
$hover_purple: #a378ff;

// TRANSITION
$transition-time: 0.5s;
