:root {
  --green-color: #27ae60;
  --red-color: #eb5757;
  --purple-color: #905bff;
  --hover-purple-color: #a378ff;
  --light-main-text-color: #313237;
  --light-text-color: #89939a;
  --light-border-icon-color: #b4bdc3;
  --light-element-color: #e2e6e9;
  --light-dropdown-hover-bg-color: #fafbfc;
  --light-back-drop-color: #0003;
  --light-table-shadow-color: #fff3;
  --white-color: #fff;
  --dark-main-text-color: #f1f2f9;
  --dark-primary-color: #0f1121;
  --dark-text-color: #75767f;
  --dark-element-color: #3b3e4a;
  --dark-icon-bg-color: #323542;
  --dark-hover-color: #4a4d58;
  --button-hover-light-color: #17203166;
  --black-hover-color: #0000000d;
  --dark-back-drop-color: #0003;
}

#root {
  --table-shadow-color: var(--dark-back-drop-color);
  --table-border-color: var(--dark-text-color);
  --dropdown-bgc-color: var(--white-color);
  --dropdown-hover-bgc-color: var(--light-dropdown-hover-bg-color);
  --dropdown-color: var(--light-text-color);
  --dropdown-hover-color: var(--light-main-text-color);
  --dropdown-button-bgc-color: var(--white-color);
  --dropdown-border-color: var(--white-color);
  --button-bgc-color: var(--main-color);
  --button-hover-color: var(--button-hover-light-color);
  --button-hover-bgc-color: var(--main-color);
  --button-selected-bgc-color: var(--white-color);
  --button-selected-color: var(--green-color);
  --button-selected-border-color: var(--element-color);
  --button-selected-hover-border-color: var(--main-color);
  --main-bg-color: var(--white-color);
  --main-color: var(--light-main-text-color);
  --text-color: var(--light-text-color);
  --icon-bg-color: var(--white-color);
  --border-icon-color: var(--light-border-icon-color);
  --element-color: var(--light-element-color);
}

#root.dark {
  --table-shadow-color: var(--light-table-shadow-color);
  --table-border-color: var(--purple-color);
  --dropdown-bgc-color: var(--dark-primary-color);
  --dropdown-hover-bgc-color: var(--dark-icon-bg-color);
  --dropdown-color: var(--dark-text-color);
  --dropdown-hover-color: var(--dark-main-text-color);
  --dropdown-button-bgc-color: var(--dark-icon-bg-color);
  --dropdown-border-color: var(--purple-color);
  --button-bgc-color: var(--purple-color);
  --button-hover-bgc-color: var(--purple-color);
  --button-hover-color: var(--hover-purple-color);
  --button-selected-bgc-color: var(--dark-icon-bg-color);
  --button-selected-color: var(--white-color);
  --button-selected-border-color: var(--dark-icon-bg-color);
  --button-selected-hover-border-color: var(--purple-color);
  --main-bg-color: var(--dark-primary-color);
  --main-color: var(--dark-main-text-color);
  --text-color: var(--dark-text-color);
  --icon-bg-color: var(--dark-icon-bg-color);
  --border-icon-color: var(--dark-icon-bg-color);
  --element-color: var(--dark-element-color);
}

// TRANSITION

$transition-time: 0.3s;
$tablet-l-min-whidth: 772px;
$tablet-min-whidth: 640px;
$mobile-l-width: 550px;
$laptop-min-whidth: 1024px;
$desctop-min-whidth: 1200px;
