@use './constants';

@mixin font($size, $height, $weight: 500, $letter: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-weight: $weight;
  font-style: $style;
}

@mixin border($size, $color, $raduis: none) {
  border: $size solid $color;
  border-radius: $raduis;
}

@mixin flex-container($align-items: stretch, $justify-content: start, $flex-direction: row, $gap: null, $wrap: nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;

  @if $gap {
    gap: $gap;
  }
}

@mixin mobile-s {
  @media (min-width: constants.$mobile-s-width) {
    @content;
  }
}

@mixin mobile-l {
  @media (min-width: constants.$mobile-l-width) {
    @content;
  }
}

@mixin tablet-l {
  @media (min-width: constants.$tablet-l-min-whidth) {
    @content;
  }
}

@mixin tablet-xl {
  @media (min-width: constants.$tablet-xl-min-whidth) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: constants.$tablet-min-whidth) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: constants.$laptop-min-whidth) {
    @content;
  }
}

@mixin desctop {
  @media (min-width: constants.$desctop-min-whidth) {
    @content;
  }
}

@mixin page-grid() {
  --column: 4;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--column), 1fr);

  @include tablet {
    --column: 12;
  }

  @include desctop {
    --column: 24;
  }
}
