@use '../../styles/abstract/mixines';
@use '../../styles//abstract/constants';

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1040px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: var(--main-bg-color);

  @include mixines.tablet {
    width: 490px;
  }

  @include mixines.laptop {
    width: 900px;
  }

  @include mixines.desctop {
    width: 800px;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}

.bullet {
  width: 14px;
  height: 4px;
  background-color: var(--border-icon-color);
  border-radius: 0;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.bullet.active {
  background-color: var(--main-color);
  transform: scale(1.2);
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 320px;

  @include mixines.tablet {
    height: 190px;
    width: 490px;
  }

  @include mixines.laptop {
    height: 400px;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.prevButton,
.nextButton {
  position: absolute;
  width: 32px;
  height: 190px;
  border: 1px solid var(--border-icon-color);
  background-color: var(--icon-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;

  @include mixines.tablet {
    opacity: 1;
  }

  @include mixines.laptop {
    height: 400px;
  }
}

.prevButton {
  left: 24px;

  @include mixines.laptop {
    left: 32px;
  }

  @include mixines.desctop {
    left: 152px;
  }
}

.nextButton {
  right: 24px;

  @include mixines.laptop {
    right: 32px;
  }

  @include mixines.desctop {
    right: 152px;
  }
}
