.sliderContainer {
  width: auto;
  max-width: 640px;
  background: #fff;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.textContainer {
  margin: 20px 0;
  color: #fff;
  text-align: center;
  background: #000;
  padding: 20px;
  border-radius: 8px;
}

.title {
  font-size: 18px;
  color: #a855f7;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.description {
  font-size: 16px;
  color: #d1d5db;
}

.image {
  width: 100%;
  max-width: 300px;
  height: 350px;
  border-radius: 10px;
  margin-top: 10px;
}

.swiper-pagination {
  bottom: 10px !important;

  .swiper-pagination-bullet {
    background-color: #a1a1aa; /* Сірий колір */
    opacity: 0.7;
  }

  .swiper-pagination-bullet-active {
    background-color: #a855f7; /* Фіолетовий для активної кулі */
    opacity: 1;
  }
}
