@use '../../styles/abstract/mixines';
@use '../../styles//abstract/constants';

.sliderContainer {
  width: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: var(--main-bg-color);
}

.paginationWrapper {
  @include mixines.flex-container(center, center);
  gap: 8px;
}

.bullet {
  width: 14px;
  height: 4px;
  background-color: var(--border-icon-color);
  border-radius: 0;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.bullet.active {
  background-color: var(--main-color);
  transform: scale(1.2);
}

.swiper-slide {
  @include mixines.flex-container(center, center);
}

.image-container {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 320px;

  .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  @include mixines.tablet {
    height: 190px;
    width: 100%;
  }

  @include mixines.laptop {
    height: 400px;
  }
}

.prevButton,
.nextButton {
  @include mixines.flex-container(center, center);
  width: 32px;
  height: 190px;
  border: 1px solid var(--border-icon-color);
  background-color: var(--icon-bg-color);
  opacity: 0;
  color: var(--main-color);

  @include mixines.tablet {
    opacity: 1;
  }

  @include mixines.laptop {
    height: 400px;
  }
}

.prevButton {
  left: 24px;

  @include mixines.laptop {
    left: 32px;
  }

  @include mixines.desctop {
    left: 152px;
  }
}

.nextButton {
  right: 24px;

  @include mixines.laptop {
    right: 32px;
  }

  @include mixines.desctop {
    right: 152px;
  }
}

.sliderWrapper {
  width: 100%;
  @include mixines.flex-container(center, space-between);
  gap: 20px;
}
