@use '../../styles/abstract/mixines' as mixin;
@use '../../styles/abstract/constants';

.label {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
  font-weight: 600;
}

.input_error {
  margin-block: 0.5rem;
  color: var(--red-color);
  font-weight: 500;
}

.input {
  padding: 10px 12px;
  color: var(--text-color);
  @include mixin.border(2px, var(--main-color));
}

.input-invalid {
  @include mixin.border(2px, var(--red-color));
}
