@use '../../styles/abstract/mixines';
@use '../../styles/abstract/constants';

.categoryCards {
  @include mixines.flex-container(center, space-between);
  gap: 16px;
}

@media (max-width: 768px) {
  .categoryCards {
    flex-direction: column;
    align-items: center;
  }
}

.heading {
  padding-bottom: 24px;
}
