@use '../../styles/abstract/mixines';
@use '../../styles/abstract/constants';

.productSlider {
  max-width: 1200px;
  width: 100%;

  .prevButton,
  .nextButton {
    @include mixines.flex-container(center, center);
    width: 32px;
    height: 32px;
    border: 1px solid var(--border-icon-color);
    background-color: var(--icon-bg-color);
    cursor: pointer;
    z-index: 10;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
