@use '../../styles/abstract/mixines';
@use '../../styles/abstract/constants';

.productSliderContainer {
  width: 100%;

  .prevButton,
  .nextButton {
    @include mixines.flex-container(center, center);
    width: 32px;
    height: 32px;
    border: 1px solid var(--border-icon-color);
    background-color: var(--icon-bg-color);
    z-index: 10;
  }

  .titleContainer {
    @include mixines.flex-container(center, space-between);
    padding: 56px 16px 24px;

    @include mixines.tablet {
      padding-top: 64px;
    }

    @include mixines.laptop {
      padding: 80px 0 0;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 8px;
  }
}
