.categoryCard {
  border-radius: 5px;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 368px;
  height: 368px;
}

.title {
  padding-top: 24px;
  font-size: 20px;
}

.models {
  font-size: 14px;
  color: gray;
}
