@use '../../styles/abstract/mixines';

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;

  @include mixines.tablet {
    padding: 0 24px;
  }

  @include mixines.desctop {
    padding: 0;
  }
}
