.contact {
  border: 1px solid var(--element-color);
  border-radius: 10px;
  padding: 24px;
  max-width: 400px;
  transition: all 0.3s;

  &__img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
