@use '../../../styles/abstract/mixines';

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));

  @include mixines.tablet {
    display: flex;
  }
}

.wrapper {
  min-width: 64px;
}

.icon {
  @include mixines.border(1px, var(--element-color));
  border-bottom: none;
  min-height: 66px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  &::after {
    align-self: flex-end;
  }

  @include mixines.tablet {
    border-top: none;
  }
}

.counter {
  width: 14px;
  font-size: 9px;
  background-color: var(--red-color);
  position: absolute;
  top: 30%;
  left: 50%;
  height: 14px;
  line-height: 13px;
  text-align: center;
  color: var(--white-color);
  @include mixines.border(1px, var(--main-bg-color), 50%);
}
