@use '../../styles/abstract/mixines';

.container {
  padding: 24px;
  @include mixines.border(1px, var(--element-color));
  border-bottom: 0;
  transition: all 0.3s;

  &:hover {
    border-color: var(--main-color);
  }
}

.icon {
  width: 16px;
  height: 16px;
  margin: auto;
}
