@use '../../styles/base/typography';
@use '../../styles/abstract/constants';

.container {
  padding: 32px;
}

.card {
  width: 272px;
  border: 1px solid constants.$color-white;

  &__image {
    display: block;
    margin: 0 auto 8px;
  }

  &__title {
    display: block;
    padding-top: 16px;
    margin-bottom: 8px;
    color: constants.$main-text-color;
  }

  &__price {
    height: 31px;
    margin-bottom: 8px;
  }

  &__value {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: constants.$main-text-color;
  }

  &__old_value {
    font-size: 22px;
    text-decoration: line-through;
    color: constants.$text-color;
    margin-left: 10px;
  }
}

.create_line {
  border-top: 1px solid constants.$border-color;
  margin-bottom: 8px;
}

.actions {
  display: flex;
  gap: 8px;
}
