@use '../../styles/base/typography';
@use '../../styles/abstract/constants';
@use '@/styles/abstract/mixines' as mixin;

.container {
  padding: 32px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border: 1px solid var(--element-color);
  background-color: var(--bg-card-color);
  max-width: 287px;
  height: 100%;
  min-height: max-content;

  @include mixin.tablet-l {
    width: 229px;
  }

  @include mixin.desctop {
    width: 270px;
  }

  &__image {
    display: block;
    margin: 0 auto 8px;
    width: 100%;
    height: 196px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    display: block;
    padding-top: 16px;
    margin-bottom: 8px;
    color: var(--main-color);
    height: 63px;
  }

  &__price {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__value {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: var(--main-color);
  }

  &__old_value {
    font-size: 22px;
    text-decoration: line-through;
    color: var(--text-color);
    margin-left: 10px;
  }
}

.create_line {
  border-top: 1px solid var(--element-color);
  margin-bottom: 8px;
}

.actions {
  @include mixin.flex-container(center, space-between);
  gap: 8px;
}

.button_favorite {
  flex-grow: 2;

  button {
    @include mixin.flex-container(center, center);
    display: inline-flex;
    padding: 12.5px;
  }
}
