@use '../../styles/base/typography';
@use '../../styles/abstract/constants';
@use '@/styles/abstract/mixines' as mixin;

.container {
  padding: 32px;
  min-height: 100%;
  @include mixin.flex-container(stretch, space-between, column);
}

.card {
  border: 1px solid var(--element-color);
  background-color: var(--bg-card-color);
  grid-column: span 2;

  &__image {
    display: block;
    margin-bottom: 8px;
    height: 196px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    display: block;
    padding-top: 16px;
    margin-bottom: 8px;
    color: var(--main-color);
    height: 61px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    padding-bottom: 16px;
  }

  &__value {
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: var(--main-color);
    margin-right: 10px;
  }

  &__old_value {
    font-size: 22px;
    text-decoration: line-through;
    color: var(--text-color);
  }
}

.create_line {
  border-top: 1px solid var(--element-color);
  margin-bottom: 8px;
}

.actions {
  @include mixin.flex-container(center, space-between);
  gap: 8px;
}

.button_favorite {
  flex-grow: 2;

  button {
    @include mixin.flex-container(center, center);
    display: inline-flex;
    padding: 12.5px;
  }
}
