@use '@/styles/abstract/mixines' as mixin;
@use '../../styles/abstract/constants';

.page {
  padding: 24px 16px 0;

  @include mixin.tablet {
    padding-inline: 24px;
  }
  @include mixin.desctop {
    padding-inline: 32px;
  }
}

.wrapper {
  @include mixin.page-grid;
  row-gap: 40px;
  justify-items: center;

  .product_card {
    grid-column: span 4;

    @include mixin.tablet {
      grid-column: span 6;
    }
    @include mixin.desctop {
      grid-column: span 6;
    }
  }
}

.icons {
  display: flex;
  column-gap: 8px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 8px;
}

.counter {
  color: var(--light-text-color);
  margin-bottom: 32px;
}

.filter_block {
  display: flex;
  gap: 16px;
}
