@use '../../styles/base/typography';
@use '../../styles/abstract/constants';

.specifications {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 8px;
}

.spec_item {
  display: flex;
  justify-content: space-between;
}

.spec_name {
  color: constants.$text-color;
}

.spec_value {
  color: constants.$main-text-color;
}
