@use '@/styles/abstract/mixines' as mixin;
@use '@/styles/abstract/constants';

.footer {
  margin-top: auto;
}

.container {
  padding: 32px 16px;
  @include mixin.flex-container(stretch, start, column, 32px);

  @include mixin.tablet {
    padding: 32px;
    flex-direction: row;
    column-gap: 108px;
    align-items: center;
    justify-content: space-between;
  }

  @include mixin.desctop {
    padding: 32px;
    column-gap: 290px;
  }
}

.links {
  @include mixin.flex-container(stretch, start, column, 16px);

  @include mixin.tablet {
    @include mixin.flex-container(center, start, row, 13px);
  }

  @include mixin.desctop {
    @include mixin.flex-container(center, start, row, 107px);
  }
}

.link {
  @include mixin.font(12px, 11px, 800);
  color: var(--text-color);
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.create_line {
  border-top: 1px solid var(--element-color);
}

.back_to_top {
  @include mixin.flex-container(center, center, row, 16px);
}

.text {
  @include mixin.font(12px, 11px, 700);
  color: var(--text-color);
}

.rotated {
  transform: rotate(270deg);
}
