@use '../../styles/abstract/mixines' as mixin;
@use '../../styles/abstract/constants';

.auth {
  @include mixin.flex-container(center, center);
  color: var(--main-color);
}

.container {
  width: 250px;
  @include mixin.flex-container(center, center, column, 20px 0);
}

.form {
  width: 100%;

  button {
    margin-top: 20px;
    width: 100%;
  }
}

.title {
  text-transform: uppercase;
}
