@use '@/styles/abstract/constants';
@use '@/styles/abstract/mixines';

.border {
  @include mixines.border(1px, var(--text-color));

  &:hover {
    border-color: var(--main-color);
  }
}

.button,
.item {
  padding: 10px 12px;
}

.button {
  @include mixines.flex-container(center, space-between);
  color: var(--main-color);

  &__bgc {
    background-color: var(--dropdown-button-bgc-color);
  }
}

.dropdown {
  position: relative;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 4px;
  padding: 0;
  background-color: var(--dropdown-bgc-color);
  box-shadow: 0 2px 15px 0 var(--black-hover-color);
  z-index: 100;

  @include mixines.border(1px, var(--element-color));
}

.item {
  font-weight: 500;
  color: var(--dropdown-color);
  cursor: pointer;
  transition: background constants.$transition-time;

  @include mixines.border(1px, transparent);

  &:hover {
    background: var(--dropdown-hover-bgc-color);
    color: var(--dropdown-hover-color);
    border-color: var(--dropdown-border-color);
  }
}
