@use '@/styles/abstract/mixines';
@use '@/styles/abstract/constants';

.container {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid var(--light-border-icon-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--table-shadow-color);
}

.title {
  margin-bottom: 10px;
  vertical-align: bottom;
}

.total__price {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;

  @include mixines.flex-container(center, space-between);
}

.order__id {
  color: var(--button-selected-color);
}

.table__container {
  overflow-x: scroll;
  overflow-y: hidden;
}
