@use '../../styles/abstract/constants' as constants;
@use '../../styles/abstract/mixines' as mixines;

.welcomeMessage {
  color: constants.$main-text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 16px;
  line-height: 40px;

  @include mixines.tablet {
    margin: 32px 24px;
  }

  @include mixines.desctop {
    margin: 56px 32px;
  }
}
