@use '../../styles/abstract/mixines';
@use '../../styles/abstract/constants';

.welcomeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 16px;
  line-height: 40px;
  color: var(--main-color);
}
